aiogram==2.14.3
aiohttp==3.7.4.post0
aioredis==2.0.0
aiosqlite==0.17.0
APScheduler==3.6.3
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
idna==3.2
iso8601==0.1.16
more-itertools==8.9.0
multidict==5.1.0
peewee==3.14.4
pyaes==1.6.1
pyasn1==0.4.8
pypika-tortoise==0.1.1
python-telegram-bot==13.7
pytz==2021.1
rsa==4.7.2
six==1.16.0
Telethon==1.23.0
tornado==6.1
tortoise-orm==0.17.7
typing-extensions==3.10.0.2
tzlocal==3.0
uvloop==0.16.0
yarl==1.6.3
